body{
    
    background-image: url("https://media0.giphy.com/media/XIqCQx02E1U9W/giphy.gif");
    background-position: center;
    background-size: cover;
    color: aliceblue;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    word-spacing: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}